build/
build/*
build/**
build*/
build*/*
build*/**
install/
install/*
install/**
install*/
install*/*
install*/**
log/
log/*
log/**
log*/
log*/*
log*/**
.idea/
.idea/*
.idea/**
.idea*/
.idea*/*
.idea*/**
.vscode/
.vscode/*
.vscode/**
.vscode*/
.vscode*/*
.vscode*/**
*.bak
*.bk