<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

    <!-- robot name parameter -->
    <xacro:arg name="name" default="indy"/>
    <!-- prefix -->
    <xacro:arg name="prefix" default="" />
    <!-- possible 'indy_type' values: indy7, indy12, indyrp2...-->
    <xacro:arg name="indy_type" default="indy7"/>

    <xacro:include filename="$(find indy_moveit)/srdf/indy_macro.srdf.xacro"/>

    <xacro:indy_srdf name="$(arg name)" prefix="$(arg prefix)" indy_type="$(arg indy_type)"/>

</robot>
