<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="indy">
    <xacro:include filename="$(find indy_moveit)/srdf/indy_macro.srdf.xacro"/>

    <xacro:arg name="robot0_name" default="robot0"/>
    <xacro:arg name="indy0_type" default="indy7"/>

    <xacro:arg name="robot1_name" default="robot1"/>
    <xacro:arg name="indy1_type" default="indy12"/>

    <xacro:indy_srdf robot_name="$(arg robot0_name)" indy_type="$(arg indy0_type)"/>
    <xacro:indy_srdf robot_name="$(arg robot1_name)" indy_type="$(arg indy1_type)"/>

</robot>
