<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="get_visual_params" params="name:=^ type:=^" >
        <xacro:property name="visual_params" value="${sec_mesh_files[name][type]}" scope="parent"/>
    </xacro:macro>

    <!-- Get mesh files -->
    <xacro:macro name="get_mesh_path" params="name:=^ type:=^" >
        <xacro:get_visual_params />
        <xacro:property name="mesh" value="file://$(find ${visual_params['mesh']['package']})/${visual_params['mesh']['path']}" scope="parent"/>
    </xacro:macro>

    <xacro:macro name="get_mesh" params="name type" >
        <xacro:get_mesh_path/>
        <mesh filename="${mesh}"/>
    </xacro:macro>

    <xacro:macro name="define_initialize" params="initial_positions_file visual_parameters_file indy_type">
        <xacro:property name="config_visual_parameters" value="${xacro.load_yaml(visual_parameters_file)}"/>
        <xacro:property name="sec_mesh_files" value="${config_visual_parameters['mesh_files']}" scope="parent"/>
        <xacro:property name="initial_positions_parameters" value="${xacro.load_yaml(initial_positions_file)}"/>
        <xacro:if value="${indy_type == 'indyrp2' or indy_type == 'indyrp2_v2'}">
            <xacro:property name="initial_positions" value="${initial_positions_parameters['7dof']}" scope="parent"/>
        </xacro:if>
        <xacro:unless value="${indy_type == 'indyrp2' or indy_type == 'indyrp2_v2'}">
            <xacro:property name="initial_positions" value="${initial_positions_parameters['6dof']}" scope="parent"/>
        </xacro:unless>
    </xacro:macro>

</robot>
