<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="indy">

    <!-- import main macro -->
    <xacro:include filename="$(find indy_description)/urdf/indy_macro.xacro"/>

    <!-- robot name parameter -->
    <xacro:arg name="robot0_name" default="robot0_"/>
    <xacro:arg name="origin0_xyz" default="0 0 0" />
    <xacro:arg name="origin0_rpy" default="0 0 0" />
    <xacro:arg name="indy0_type" default="indy7"/>
    <xacro:arg name="indy0_eye" default="false"/>

    <!-- parameters -->
    <xacro:arg name="joint_limit_params" default="$(find indy_description)/urdf/config/$(arg indy0_type)/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find indy_description)/urdf/config/$(arg indy0_type)/kinematics.yaml"/>
    <xacro:arg name="physical_params" default="$(find indy_description)/urdf/config/$(arg indy0_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find indy_description)/urdf/config/$(arg indy0_type)/visual_parameters.yaml"/>

    <link name="world" />

    <!-- define robot -->
    <xacro:indy_robot
        robot_name="$(arg robot0_name)"
        indy_type="$(arg indy0_type)"
        indy_eye="$(arg indy0_eye)"
        parent="world"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        physical_parameters_file="$(arg physical_params)"
        visual_parameters_file="$(arg visual_params)"
        >
        <origin xyz="$(arg origin0_xyz)" rpy="$(arg origin0_rpy)" />
    </xacro:indy_robot>
    
</robot>
