<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mycobot">

    <!-- import main macro -->
    <xacro:include filename="$(find mycobot_280pi_description)/urdf/mycobot_280pi_macro.xacro"/>

    <!-- robot name parameter -->
    <xacro:arg name="robot_name" default="robot0_" />
    <xacro:arg name="origin_xyz" default="0 0 0" />
    <xacro:arg name="origin_rpy" default="0 0 0" />

    <!-- parameters -->
    <link name="world" />
    <!-- define robot -->
    <xacro:mycobot_280pi_robot
        robot_name="$(arg robot_name)"
        parent="world"
        >
        <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
    </xacro:mycobot_280pi_robot>
    
</robot>
